@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@font-face {
  font-family: "Aptos";
  src: url("../../assets/fonts/Aptos-Display.ttf") format("truetype");
}
@font-face {
  font-family: "Aptos-Bold";
  src: url("../../assets/fonts/Aptos-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Young-Serif";
  src: url("../../assets/fonts/YoungSerif-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../assets/fonts/JetBrainsMono-Regular.ttf");
}
.page {
  direction: ltr;
  margin: 20px;
  width: 850px;
  height: 1100px;
  min-width: 850px;
  min-height: 1100px;
  max-width: 850px;
  max-height: 1100px;
  background-color: white;
  padding: 1in;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  margin-bottom: 30px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: 585px;
}
.text h1 {
  font-weight: 600;
  font-family: "Young-Serif";
  white-space: nowrap;
  border-bottom: 5px solid black;
  margin: none;
  padding: none;
  margin-bottom: 10px;
}
.text p {
  font-family: "Aptos";
  font-size: 1.2em;
}

.title .qr {
  display: flex;
  box-sizing: border-box;
  align-self: flex-end;
  margin-left: 10px;
}
.qr canvas {
  margin: none;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content ul {
  padding-left: 20px;
}
.details {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  height: 100%;
}
section {
  display: flex;
  gap: 10px;
  font-size: 1.2em;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Aptos";
}

section span {
  font-family: "Aptos-Bold";

  /* background-color: rgb(194, 194, 194);
  padding: 3px 10px 3px 10px;
  border-radius: 10px; */
}

section p {
  max-width: 600px;
  text-align: justify;
}

.output span {
  margin-bottom: 20px;
}
.sOut {
  flex-grow: 1;
  width: 100%;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}
.sOut img {
  width: 100%;
}

.pNum-right {
  display: flex;
  justify-content: flex-end;
}

.srcCodeTitle {
  display: flex;
  align-items: center;
}
.line {
  height: 5px;
  width: 100%;
  background-color: black;
}
.srcCodeTitle span {
  min-width: max-content;
  padding: 0;
  margin: 10px;
  font-family: "Young-Serif";
}

.token.code,
pre[class*="language-"],
code[class*="language-"] {
  font-family: "JetBrains Mono", monospace !important; /* Use the imported font */
  font-size: 16px;
}
