@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap");

p {
  font-size: 1.1rem;
}
.page {
  direction: ltr;
  margin: 20px;
  width: 850px;
  height: 1100px;
  min-width: 850px;
  min-height: 1100px;
  max-width: 850px;
  max-height: 1100px;
  background-color: white;
  padding: 70px;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  margin-bottom: 30px;
}
.text {
  flex-grow: 1;
}
.text h1 {
  font-weight: 600;
  font-family: "Outfit";
  font-size: 3rem;
  border-bottom: 5px solid black;
  margin: none;
  padding: none;
  margin-bottom: 10px;
}
.tex p {
  font-style: italic;
}

.title .qr {
  display: flex;
  box-sizing: border-box;
  align-self: flex-end;
  border: 5px solid black;
  padding: 5px;
}
.qr canvas {
  margin: none;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content ul {
  padding-left: 20px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section span {
  font-size: 1.1rem;
  background-color: rgb(194, 194, 194);
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
}

.output span {
  margin-bottom: 20px;
}
.sOut {
  flex-grow: 1;
  width: 100%;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}
.sOut img {
  width: 100%;
}

.pNum-right {
  display: flex;
  justify-content: flex-end;
}

.srcCodeTitle {
  display: flex;
  align-items: center;
}
.line {
  height: 5px;
  width: 100%;
  background-color: black;
}
.srcCodeTitle span {
  min-width: max-content;
  padding: 0;
  margin: 10px;
}

.token.code,
pre[class*="language-"],
code[class*="language-"] {
  font-family: "JetBrains Mono", monospace; /* Use the imported font */
  font-size: 16px;
}
