.config {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 500px;
  background-color: white;
  padding: 40px;
  gap: 30px;
  justify-self: flex-end;
  margin-left: auto;
}

.config h1 {
  text-align: center;
}

textarea {
  height: 100%;
  font-size: smaller;
  padding: 2px;
}
